:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  color: #727272;
}

input {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #111;
  color: #fff;
  transition: background-color, border-color .5s ease;
}

input:hover {
  border-color: #727272;
  outline: none;
  background-color: #1c1c1c;
}

input:focus {
  outline: none;
}

input:active {
  background-color: #111;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #111;
  cursor: pointer;
  transition: background-color, border-color .5s ease;
}

button:hover {
  border-color: #727272;
  outline: none;
  background-color: #1c1c1c;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #111;
}

.modal-task {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
}

.modal-task input {
  width: 90%;
}

.task-item {
  border: 1px solid #656565;
  border-radius: .5rem;
  margin: .5rem auto;
  padding: .5rem;
}

.task-item h4,
h5 {
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}